h1{text-align: center;
    font-family:Century School;
    color:deeppink;}
        
p{font-family:inherit;
    font-size: 18px;}
 
div{ font-family:inherit;
    font-size: 22px;
    color:firebrick;}

li{font-family:inherit;
    font-size: 18px;}
 

