h1 	{font-family:forte;
    font-size:40px;
    color:crimson;}

div{ font-family: inherit;
     font-size: 16px;}

dt { font-weight: bold;
 font-size: 20px;}

li {font-family:inherit;
    font-size: 16px;}



